@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #c0c0c0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canvas {
  width: 750px;
  height: 550px;
  background-color: white;
  border: 15px inset;
  /* border-radius: 20px; */
  /* box-shadow: 6px 10px 30px -10px rgba(38, 38, 38, 1); */
  margin: 30px 0;
}
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls .controls__range {
  margin-bottom: 20px;
  display: flex;
  align-items: top;
  background-color: white;
  padding: 5px 20px;
  border: 3px outset;
  box-shadow: 6px 10px 30px -12px rgba(38, 38, 38, 1);
}
.controls .controls__range input {
  cursor: pointer;
}
.controls .controls__btns button {
  all: unset;
  cursor: pointer;
  text-align: center;
  background-color: white;
  padding: 5px 10px;
  width: 70px;
  border: 3px outset;
  box-shadow: 6px 10px 30px -10px rgba(38, 38, 38, 1);
  margin-bottom: 20px;
}
.controls .controls__btns button:active {
  transform: scale(0.9);
}

.controls .controls__colours {
  display: flex;
}
.controls .controls__colour {
  cursor: pointer;
  width: 55px;
  height: 55px;
  border: 4px inset #c0c0c0;
  margin-left: 1px;
  /* border-radius: 50%; */
  /* box-shadow: 5px 10px 20px -8px rgba(38, 38, 38, 1); */
}
.controls__colours .current {
  margin-right: 40px;
}
.controls__colours .black {
  background-color: #3d3d3d;
}
.controls__colours .white {
  background-color: white;
}
.controls__colours .red {
  background-color: #fb2412;
}
.controls__colours .orange {
  background-color: #f36e21;
}
.controls__colours .yellow {
  background-color: #ffdf14;
}
.controls__colours .green {
  background-color: #319113;
}
.controls__colours .sky,
.controls__colours .current {
  background-color: #70c9f5;
}
.controls__colours .blue {
  background-color: #1e3799;
}
.controls__colours .purple {
  background-color: #6d51b7;
}
